.wrapperFilters{
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: space-between;
    margin: 25px auto;
}
.btnFilter{
    padding: 10px 80px;
   font-weight: 600;
    font-size: 16px;
    border: none;
    background-color: var(--btnBgColor);
    color: var(--btnColor);
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}
.btnFilter:hover,
.btnFilter:focus{
    background-color: var(--btnBgColorHover);
}
.btnFilter.selected {
    background-color: #237eb3;
    color: white;
}
