.wrapperCounter {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 8px;
    width: 90%;
    max-width: 600px;
    justify-content: center;
}

.text {
    margin: 0;
}

.spanText {
    color: var(--colorCounterText);
    font-weight: 600;
    margin-right: 8px;
    font-family: var(--fontTasks);
}
.dataCounter{
    font-family: var(--fontTasks);
    font-size: 18px;
}