@import-normalize; /* bring in normalize.css styles */
:root{
  --btnBgColor:#3393a0;
  --btnColor: #ffff;
  --btnBgColorHover: #2e7a85;
  --fontApp: 'Roboto', 'sans-serif';
  --fontTasks: "Indie Flower", 'cursive';
  --greenishBlue: #3393a0;
  --btnDeteleBgColor: #df1515;
  --colorCounterText: #e9972e

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
